
<%-# debugging line -%>
<%= "#{@posts.size.to_s} active posts found." %>

<div class="container">
  <div class="row">
    <div class="col-8">
      <%= @posts.each do |post| %>
        <%= post.account.username %>
        <%= image_tag post.image.url, class: "img -mg-fluid" %>
      <% end %>
    </div>
  </div>
</div>